.margin-bottom-15px {
  margin-bottom: 15px;
}

.margin-top-20px {
  margin-top: 20px;
}

.red-color {
  color: red;
}

.green-color {
  color: green;
}

.resume-label {
  font-size: 12px !important;
  color: #777 !important;
}

.padding-0 {
  padding: 0px;
}