.card-bgc {
  background-color: #e5e5e5 !important;
  min-height: 200px !important;
}

.card-title {
  color: #768693 !important;
}

.card-text {
  font-size: 14px !important;
}

.padding-top-10 {
  padding-top: 10px !important;
}

.icon-green {
  color: green;
}

.icon-red {
  color: red;
}

.icon-yellow {
  color: #F1C40F;
}